@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #757DA9, #3F4464)
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(59, 60, 61, 0.616);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #FFC857;
    text-align: center;
    text-shadow: 1px 1px 2px #7a5f29ad
}

h2{
    color: #1F2232
}

p {
    text-align: justify;
}
